*.meta
Resources
model
Atlas_database
Plugins/DOTween
Scenes
StreamingAssets
BodyFemale.prefab
BodyMale.prefab
bone_lighting.shader
CanvasInfoPop.prefab
showBody.unity
sk_body.shader
sk_foot.shader
sk_head.shader
SK_mtl.shader
SK_PBR_head.shader
SK_pbr_mel.shader
sk_tooth.shader
ForamensFemale.prefab
ForamensMale.prefab
